// ==============================================
// FORMS - Password show
// ==============================================

$password-show-icon:                "\e90b";
$password-show-icon-color:          grey;
$password-show-icon-size:           2rem;
$password-show-line-width:          20px;
$password-show-line-weight:         2px;
$password-show-line-rotation:       45;

.field .control {
    position: relative;

    input[type="password"] {
        padding-right: 30px;
    }

    .check-password {
        position: absolute;
        top: 5px;
        right: 0;
        font-size: $password-show-icon-size;
        color: $password-show-icon-color;
        cursor: pointer;
        z-index: 1;

        // Eye icon
        &::before {
            content: $password-show-icon;
            @extend %fonticon;
        }

        // Barred eye line
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            left: 50%;
            width: $password-show-line-width;
            height: $password-show-line-weight;
            transform: translate(-50%, -70%) rotate(-#{$password-show-line-rotation}deg);
            transform-origin: center;
            background-color: $password-show-icon-color;
            opacity: 0;
        }

        &.is-active {
            &::after {
                opacity: 1;
            }
        }
    }
}